.basic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.basic__inner {
  /* */
}
.basic__time {
  margin: 0;
}
.basic__button {
  /* */
}
.basic__button:disabled {
  /* */
}
