.basic {
  font-family: monospace;
}
.basic__time {
  font-weight: normal;
}
.basic__button {
  border-radius: 0;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
.basic__button:disabled {
  border-color: lightgray;
}
