<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= title %></title>
</head>

<body>
  <main class="basic-ui">
    <h1 class="basic-ui__time">00:00</h1>
    <button class="basic-ui__button-action">Start</button>
    <button class="basic-ui__button-reset">Reset</button>
  </main>
</body>
</html>
